<div class="container mt-5" *ngIf="!isLoading">
    <div class="row justify-content-center">
        <div class="col-9 col-auto ">
            <div class="row">
                <div class="col-4">
                    <div class="row d-grid gap-2">
                        <a type="button" class="btn btn-outline-secondary" routerLink="/profile/{{user.id}}/edit">Editar Perfil</a>
                        <a type="button" class="btn btn-outline-secondary active" routerLink="/account/{{user.id}}/edit">Configuración de la cuenta</a>
                    </div>
                </div>
                <div class="col-8 ps-4">
                    <h1>Editar Cuenta</h1>

                    <form [formGroup]="emailForm" (ngSubmit)="onSaveEmail()">
                        <div class="mb-3">
                            <label for="FormEmail" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="FormEmail" formControlName="email" [class.is-invalid]="invalidEmail" placeholder="Correo">
                            <mat-error>
                                <small *ngIf="invalidEmail" class="text-danger">
                          Ingrese un correo válido.
                        </small>
                            </mat-error>
                        </div>

                        <button class="btn btn-primary me-1 mt-2" type="submit">Actualizar Correo</button>
                        <button class="btn btn-secondary me-1 mt-2" (click)="onCancelEmailForm()" [disabled]="pristineEmail">Cancelar</button>
                    </form>

                    <form [formGroup]="passForm" (ngSubmit)="onSavePass()">
                        <div class="mb-3 mt-4">
                            <label for="FormPassword" class="form-label">Contraseña Actual</label>
                            <input type="password" class="form-control" id="FormPassword" formControlName="actualPass" [class.is-invalid]="invalidActualPass" placeholder="Contraseña Actual">
                            <mat-error>
                                <small *ngIf="invalidActualPass" class="text-danger">
                          Ingrese una contraseña válida.
                        </small>
                            </mat-error>
                        </div>

                        <div class="mb-3">
                            <label for="FormPasswordNew" class="form-label">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="FormPasswordNew" formControlName="newPass" [class.is-invalid]="invalidNewPass" placeholder="Nueva Contraseña">
                            <mat-error>
                                <small *ngIf="invalidNewPass" class="text-danger">
                          Ingrese una contraseña válida.
                        </small>
                            </mat-error>
                        </div>

                        <div class="mb-3">
                            <label for="FormPasswordRepeat" class="form-label">Repetir Contraseña</label>
                            <input type="password" class="form-control" id="FormPasswordRepeat" formControlName="repeatPass" [class.is-invalid]="invalidRepeatPass" placeholder="Repetir Contraseña">
                            <mat-error>
                                <small *ngIf="invalidRepeatPass" class="text-danger">
                          Ingrese una contraseña válida.
                        </small>
                            </mat-error>
                        </div>

                        <button class="btn btn-primary me-1 mt-2" type="submit">Actualizar Contraseña</button>
                        <button class="btn btn-secondary me-1 mt-2" (click)="onCancelPassForm()" [disabled]="pristinePass">Cancelar</button>

                    </form>
                    <button type="button" class="btn btn-outline-danger mt-4" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Eliminar cuenta</button>

                    <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro de que deseas eliminar tu cuenta?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" (click)="onDeleteAccount(user.id)">Sí, seguro.</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>