<div class="modal fade" id="esquemaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mb-0" *ngIf="!esquema">Añadir Esquema</h2>
                <h2 class="modal-title mb-0" *ngIf="esquema">Editar Esquema</h2>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="esquemaForm" (ngSubmit)="onSave()">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle">
                        <mat-error>
                            <small *ngIf="invalidTitle" class="text-danger">
                              Ingrese un título adecuado (entre 1 y 100 caracteres).
                            </small>
                        </mat-error>
                    </div>
                    <div class="mb-3">
                        <input type="file" class="form-control form-control-sm mb-2" formControlName="esquemaPath" [class.is-invalid]="invalidEsquemaPath" (change)="onFilePicked($event)" *ngIf="!esquema">
                        <div class="form-floating">
                            {{esquemaContent}}
                            <textarea *ngIf="!esquema" id="esquemaContent" value="{{esquemaContent}}" class="form-control pt-0" style="height: 400px" [class.is-invalid]="invalidEsquemaPath"></textarea>

                            <textarea *ngIf="esquema" id="esquemaContent" value="{{esquemaContent}}" formControlName="esquemaContent" class="form-control pt-0" style="height: 400px" [class.is-invalid]="invalidEsquemaPath"></textarea>

                            <label class="pt-1" for="floatingTextarea2"></label>
                            <mat-error>
                                <small *ngIf="invalidFile" class="text-danger">
                                  Ingrese un esquema.
                                </small>
                                <small *ngIf="invalidExtension" class="text-danger">
                                  Ingrese un esquema con el formato adecuado (.json o .yaml).
                                </small>
                            </mat-error>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">
                    Cancelar</button>
                <button type="submit" class="btn btn-primary" *ngIf="(!esquemaForm.valid || invalidExtension) && !esquema" (click)="onSave()">
                    Crear fichero de datos
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="esquema" data-bs-dismiss="modal" (click)="onSave()">
                    Guardar cambios
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="esquemaForm.valid" data-bs-dismiss="modal" (click)="onSave()">
                    Crear fichero de datos
                </button>
            </div>
        </div>
    </div>
</div>