<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" routerLink="/" *ngIf="!isLoading">TabLab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!isLoading">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li *ngIf="userIsAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['workspaces']">Espacios de Trabajo</a>
            </li>
            <li *ngIf="userIsAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['invitations']">
                    Invitaciones 
                    <i *ngIf="hasInvitations" class="ms-1 fas fa-envelope" style="width: 40px; color: rgb(169, 85, 248);"></i>
                </a>
            </li>

            <li *ngIf="userIsAuthenticated && isAdmin()" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['gconfiguration']">
                    Configuración Global
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://documenter.getpostman.com/view/10224834/UVJYKzFg">
                    API
                </a>
            </li>
        </ul>
        <form class="form-inline" *ngIf="!userIsAuthenticated">
            <a class="btn btn-outline-primary me-2" routerLinkActive="active" [routerLink]="['auth/login']">Iniciar Sesión</a>
            <a class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['auth/signup']">Registro</a>
        </form>
        <form *ngIf="userIsAuthenticated">
            <!-- <a class="btn btn-outline-danger me-2" routerLinkActive="active" (click)="onLogout()">Cerrar Sesión</a> -->
            <div class="dropdown">
                <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="mt-2" *ngIf="isLoading">
                        <img src="/backend/assets/default-user-little.png" class="border rounded-circle" style="width: 40px;" alt="">
                    </div>
                    <img src="{{user.photo}}" class="border rounded-circle" style="width: 40px;" alt="">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" routerLink="/profile/{{userId}}">Logueado/a como {{user.username}}</a></li>
                    <li><a class="dropdown-item" routerLink="/account/{{userId}}/edit">Configuración de la cuenta</a></li>
                    <li><a class="dropdown-item" routerLinkActive="active" (click)="onLogout()">Cerrar Sesión</a></li>
                </ul>
            </div>
        </form>
    </div>
</nav>