<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" routerLink="/">TabLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li *ngIf="userIsAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/create">Nueva publicación</a>
            </li>
            <li *ngIf="userIsAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['posts']">Publicaciones</a>
            </li>
            <li *ngIf="userIsAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['workspaces']">Espacios de Trabajo</a>
            </li>
            <li *ngIf="userIsAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['invitations']">Invitaciones</a>
            </li>
            <!-- <li *ngIf="!userIsAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['signup']">Registro</a>
            </li> -->

        </ul>
        <form class="form-inline" *ngIf="!userIsAuthenticated">
            <a class="btn btn-outline-primary me-2" routerLinkActive="active" [routerLink]="['auth/login']">Iniciar Sesión</a>
            <a class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['auth/signup']">Registro</a>
        </form>
        <form class="form-inline" *ngIf="userIsAuthenticated">
            <a class="btn btn-outline-danger me-2" routerLinkActive="active" (click)="onLogout()">Cerrar Sesión</a>
        </form>
    </div>
</nav>
