<div class="row ps-2 pe-2 complete-height" *ngIf="!isLoading">
    <div class="col-2 collections p-0">
        <app-collection-list [workspaceId]="workspaceId" [(activities)]="activities"></app-collection-list>
    </div>
    <div class="col-7" *ngIf="!isLoading">
        <app-workspace-edit *ngIf="edit" [(edit)]="edit" [(workspace)]="workspace" [(activities)]="activities"></app-workspace-edit>

        <div class="container">
            <div class="row mt-4" *ngIf="!edit">
                <div class="col-10">
                    <h2>{{ workspace.title }}</h2>

                </div>
                <div class="col-2 d-flex justify-content-end">
                    <div class="me-1">
                        <button class="btn btn-outline-light btn-sm" type="button" (click)="onEdit()">
                          <i class="fas fa-pen"></i>
                        </button>
                    </div>
                    <div class="dropdown" *ngIf="!workspace.mandatory">
                        <button class="btn btn-outline-light btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" (click)="onLeave()">Abandonar Espacio</a></li>
                            <li><a class="dropdown-item danger" *ngIf="user.roleName=='owner' || user.role=='ADMIN'" (click)="onDelete()">Eliminar Espacio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-1" *ngIf="!edit">
                <div class="col">
                    <p>{{ workspace.description }}</p>
                </div>
            </div>
            <div>
                <app-activity-list [workspaceId]="workspaceId"></app-activity-list>
            </div>
        </div>
    </div>

    <div class="col-3 members" *ngIf="!isLoading">
        <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <button type="button" class="btn add-file btn-sm" data-bs-toggle="modal" data-bs-target="#datafileModal" *ngIf="!isSaving">
                      Añadir fichero de datos
                    </button>
                    <button type="button" class="btn add-file btn-sm" disabled *ngIf="isSaving">
                        Añadir fichero de datos <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    <app-datafile-create [(isSaving)]="isSaving" [workspaceId]="workspaceId"></app-datafile-create>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h2>Miembros</h2>
                    <ul class="list-group">
                        <div *ngFor="let user of users">
                            <li class="list-group-item pt-0 pb-0 d-flex justify-content-between align-items-center">
                                <div class="pt-1 pb-1 user-photo">
                                    <img src="{{user.photo}}" class="border rounded-circle me-2" alt=""> {{user.username}}
                                </div>
                                <div class="btn-group" *ngIf="currentUserRole=='owner' || currentUserRole=='admin'">
                                    <select class="form-select form-select-sm" (change)="onRolePicked($event,user)" id="{{user.id}}">
                                        <option value="" selected> {{user.roleName | translate}} </option>
                                        <option value="owner" *ngIf="user.roleName!='owner'">{{'owner' | translate}}</option>
                                        <option value="admin" *ngIf="user.roleName!='admin'">{{'admin' | translate}}</option>
                                        <option value="member" *ngIf="user.roleName!='member'">{{'member' | translate}}</option>
                                    </select>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <app-invitation-create [workspaceId]=workspaceId></app-invitation-create>
        </div>
    </div>
</div>