<div class="row complete-height" *ngIf="!isLoading">
    <div class="col-2 collections p-0">
        <app-collection-list [workspaceId]="workspaceId"></app-collection-list>
    </div>
    <div class="col-7">
        <div class="container mt-4 mb-5">
            <form [formGroup]="testForm" class="p-0" (ngSubmit)="onSave()" *ngIf="edit">
                <div class="row ms-0 me-0 mb-1 p-0">
                    <div class="col ps-0 pe-0 d-flex justify-content-start">
                        <input type="text" class="form-control" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle">
                        <mat-error>
                            <small *ngIf="invalidTitle" class="text-danger">
                              Ingrese un título adecuado
                            </small>
                        </mat-error>
                    </div>
                </div>
                <div class="row ms-0 me-0 mb-1 p-0">
                    <div class="col ps-0 pe-0 d-flex justify-content-start">
                        <input type="text" class="form-control" placeholder="Delimitador" formControlName="delimiter" [class.is-invalid]="invalidDelimiter">
                        <mat-error>
                            <small *ngIf="invalidDelimiter" class="text-danger">
                              Ingrese un delimitador adecuado.
                            </small>
                        </mat-error>
                    </div>
                </div>
                <div class="row ms-0 me-0 mt-1 mb-1 p-0">
                    <div class="col ps-0 pe-0 d-flex justify-content-end">
                        <button type="submit" class="btn btn-sm btn-primary me-1" *ngIf="!isSavingTest">
                            Guardar
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary me-1" *ngIf="isSavingTest" disabled>
                            Guardar <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>

                        <a class="btn btn-sm btn-secondary" (click)="onCancelTestForm()">Cancel</a>
                    </div>
                </div>
            </form>
            <div class="row mt-4" *ngIf="!edit">
                <div class="col-10">
                    <h2>{{ test.title }} (from <a routerLink="/workspace/{{workspaceId}}/datafile/{{datafileId}}">
                      {{datafile.title}}</a>)</h2>
                    <h3>Delimiter: {{test.delimiter}}</h3>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <div class="me-1">
                        <button class="btn btn-outline-light btn-sm" type="button" (click)="onEdit()">
                          <i class="fas fa-pen"></i>
                        </button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-outline-light btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" routerLink="/workspace/{{workspaceId}}/runner/{{test.id}}" *ngIf="test.executable">Ejecutar Prueba</a></li>
                            <li><a class="dropdown-item danger" *ngIf="workspace.owner==user.id || user.role=='ADMIN'" (click)="onDelete()">Eliminar Prueba</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-9">
                    <h2 class="mb-0">Contenido del fichero</h2>
                </div>
                <div class="col-3 d-flex justify-content-end" *ngIf="datafile.contentPath">
                    <div>
                        <button class="btn btn-outline-light btn-sm" type="button" (click)="onDownload()">
                          <i class="fas fa-download"></i>
                        </button>
                    </div>
                    <div class="ms-1">
                        <button class="btn btn-outline-light btn-sm" type="button" (click)="onEditContent()">
                        <i class="fas fa-pen"></i>
                      </button>
                    </div>
                </div>

            </div>
            <div class="row" *ngIf="!hideEditableContent">
                <div class="form-floating">
                    <form [formGroup]="fileContentForm">
                        <textarea formControlName="fileContent" class="form-control mt-2 pt-1" id="floatingTextarea2" style="height: 400px"></textarea>
                    </form>
                </div>
            </div>
            <div class="row mt-2" *ngIf="hideEditableContent">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-fixed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-1">Row</th>
                                    <th scope="col" class="col-11">Content</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let line of contentLines; let i=index">
                                    <th class="col-1">{{i+1}}</th>
                                    <td class="col-11">{{line}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div *ngIf="fileName">
                        Nombre del archivo: {{fileName}}
                    </div>
                </div>
                <div class="col-6 mt-2 d-flex justify-content-end">
                    <div *ngIf="datafile.contentPath">
                        <button class="btn btn-outline-primary btn-sm me-1" routerLink="/workspace/{{workspaceId}}/runner/{{test.id}}" *ngIf="test.executable">Ejecutar Prueba</button>
                        <button class="btn btn-outline-primary btn-sm" type="submit" (click)="onSaveContent()" *ngIf="!hideEditableContent">Guardar cambios</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h1>Sugerencias</h1>
                </div>
            </div>
            <div class="row" *ngIf="suggestionQueryResult">
                <div class="col">
                    <form [formGroup]="suggestionForm" (ngSubmit)="onApplyRow()" novalidate>
                        <label class="form-label">Resultado de la consulta:</label>
                        <input type="text" class="form-control" value="{{suggestionQueryResult}}" formControlName="rowContent" [class.is-invalid]="invalidRowContent">
                        <mat-error>
                            <small *ngIf="invalidRowContent" class="text-danger ">
                            No puede dejar vacía la fila
                          </small>
                        </mat-error>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-fixed table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-1">Código</th>
                                    <th scope="col" class="col-2">
                                        <div align="center">Etiqueta</div>
                                    </th>
                                    <th scope="col" class="col-2">
                                        <div align="center">Nombre del campo</div>
                                    </th>
                                    <th scope="col" class="col-1">
                                        <div align="center">Posición del Campo</div>
                                    </th>
                                    <th scope="col" class="col-1">
                                        <div align="center">Fila</div>
                                    </th>
                                    <th scope="col" class="col-4">
                                        <div align="center">Mensaje</div>
                                    </th>
                                    <th scope="col" class="col-1">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let suggestion of suggestions">
                                    <th style="height: 43.8px;" class="col-1">{{suggestion.errorCode}}</th>
                                    <td style="height: 43.8px;" class="col-2" align="center">{{suggestion.label}}</td>
                                    <td style="height: 43.8px;" class="col-2" align="center">{{suggestion.fieldName}}</td>
                                    <td style="height: 43.8px;" class="col-1" align="center">{{suggestion.fieldPosition}}</td>
                                    <td style="height: 43.8px;" class="col-1" align="center">{{suggestion.rowPosition}}</td>
                                    <td style="height: 43.8px;" class="col-4" align="center">{{suggestion.errorMessage}}</td>
                                    <td style="height: 43.8px;" class="col-1">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-light btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" *ngIf="suggestion.rowPosition!=null" data-bs-toggle="modal" data-bs-target="#configurationModal" (click)="onApplyChanges(suggestion.id,'getRow')">Obtener Fila</a></li>
                                                <li><a class="dropdown-item danger" *ngIf="suggestion.rowPosition!=null" (click)="onApplyChanges(suggestion.id,'deleteRow')">Eliminar Fila</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-3">
        <div class="container mt-4 ps-0">
            <div class="row mt-4 pe-2">
                <div class="col pe-0">
                    <h2>Stats</h2>
                </div>
            </div>
            <div class="row mt-2 pe-2" *ngIf="test.totalErrors">
                <div class="col pe-0">
                    Errores: {{test.totalErrors}}
                </div>
            </div>
            <div class="row mt-4 pe-2">
                <div class="col-4 pe-0">
                    <h2>Esquema</h2>
                </div>
                <div class="col-8">
                    <select class="form-select form-select-sm" (change)="onEsquemaPicked($event)">
                      <option value="None" selected *ngIf="!selectedEsquema"> ----- </option>
                      <option *ngFor="let esquema of esquemas" [selected]="selectedEsquema && esquema.id == selectedEsquema.id" value="{{esquema.id}}">{{esquema.title}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4 pe-2">
                <div class="col-4 pe-0">
                    <h2>Configuraciones</h2>
                </div>
            </div>
            <div class="row mt-1 pe-2">
                <div class="col p-0">
                    <div class="container">
                        <div class="row p-2 border-header">
                            <div class="col-3 d-flex justify-content-start">
                                <div>Título</div>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <div>Código de Error</div>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <div>Parámetros</div>
                            </div>
                            <div class="col-1">
                                <div></div>
                            </div>
                        </div>
                        <div class="row mt-0 p-2 border-content">
                            <div class="col">
                                <div class="row mt-1 mb-1" *ngFor="let configuration of formattedConfigs">
                                    <div class="col-3 d-flex justify-content-start">
                                        <div>{{configuration.title}}</div>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center">
                                        <div>{{configuration.errorCode}}</div>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center">
                                        <div>
                                            <button class="btn btn-outline-light btn-sm" type="button" matTooltip="{{configuration.extraParamsStr || '-'}}">
                                                <i class="far fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-1 d-flex justify-content-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{configuration.id}}" id="flexCheckDefault" (change)="onConfigurationPicked($event)" [checked]="checkConfig(configuration.id)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>