<div class="modal fade" id="datafileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear fichero de datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="datafileForm" (ngSubmit)="onSave()">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle">
                        <mat-error>
                            <small *ngIf="invalidTitle" class="text-danger">
                            Ingrese un título adecuado (entre 1 y 100 caracteres).
                          </small>
                        </mat-error>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Delimitador" formControlName="delimiter" [class.is-invalid]="invalidDelimiter">
                        <mat-error>
                            <small *ngIf="invalidDelimiter" class="text-danger">
                                Ingrese un delimitador adecuado.
                                </small>
                        </mat-error>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Descripción" formControlName="description" [class.is-invalid]="invalidDescription"></textarea>
                        <mat-error>
                            <small *ngIf="invalidDescription" class="text-danger">
                            Ingrese una descripción adecuada
                          </small>
                        </mat-error>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Colección:</label>
                        <div class="btn-group ms-2">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="collection">
                              <option selected> Ninguna </option>
                              <option *ngFor="let collection of collections" value="{{collection.id}}">{{collection.title}}</option>
                            </select>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="!datafileForm.valid" (click)="onSave()">
                    Crear fichero de datos
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="datafileForm.valid" data-bs-dismiss="modal" (click)="onSave()">
                    Crear fichero de datos
                </button>
            </div>
        </div>
    </div>
</div>