<div class="container mt-5" *ngIf="!isLoading">
    <div class="row justify-content-center">
        <div class="col-9 col-auto ">
            <div class="row">
                <div class="col-4">
                    <img src="{{user.photo}}" class="border rounded-circle me-2" style="width: 100px;" alt="">
                    <div class="mt-2">
                        <p class="">{{user.name}}</p>
                        <p class="">{{user.username}}</p>
                        <p class="">{{user.email}}</p>
                        <a class="btn btn-primary me-1" routerLink="/profile/{{userId}}/edit">Editar Perfil</a>
                        <a class="btn btn-primary" routerLink="/account/{{userId}}/edit">Configuración</a>
                    </div>
                </div>
                <div class="col-8 card text-center p-0">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="true" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>