<div class="modal fade" id="configuratioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mb-0" id="exampleModalLabel">Añadir Configuración</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="configurationForm" (ngSubmit)="onSave()" novalidate>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Título" formControlName="title" [class.is-invalid]="invalidTitle">
                        <mat-error>
                            <small *ngIf="invalidTitle" class="text-danger">
                              Ingrese un título adecuado (entre 1 y 100 caracteres).
                            </small>
                        </mat-error>
                    </div>

                    <div class="mb-3">
                        <select class="form-select form-select-sm" formControlName="errorCode" (change)="onErrorPicked($event)" [class.is-invalid]="invalidErrorCode">
                          <option value="" disabled> Código de Error </option>
                          <option *ngFor="let fricError of fricErrors" value="{{fricError.errorCode}}">{{fricError.errorCode}}</option>
                        </select>
                        <mat-error>
                            <small *ngIf="invalidErrorCode" class="text-danger ">
                            Seleccione un código de error.
                          </small>
                        </mat-error>
                    </div>
                    <div class="mb-3" *ngFor="let extraControl of extraControls">
                        {{extraControl.extraParam}}
                        <div *ngIf="extraControl.tipo === 'string'">
                            <input type="text" class="form-control" placeholder="{{extraControl.extraParam}}" formControlName="{{extraControl.extraParam}}" [class.is-invalid]="invalidParam(extraControl.extraParam)">
                        </div>
                        <div *ngIf="extraControl.tipo === 'enum'">
                            <select class="form-select form-select-sm" formControlName="{{extraControl.extraParam}}" [class.is-invalid]="invalidParam(extraControl.extraParam)">
                              <option value="" selected> {{extraControl.extraParam}} </option>
                              <option *ngFor="let enumVal of extraControl.enum" value="{{enumVal}}">{{enumVal}}</option>
                            </select>
                        </div>
                        <div *ngIf="extraControl.tipo === 'number'">
                            <input type="number" class="form-control" formControlName="{{extraControl.extraParam}}" [class.is-invalid]="invalidParam(extraControl.extraParam)">
                        </div>
                        <mat-error>
                            <small *ngIf="invalidParam(extraControl.extraParam)" class="text-danger">
                          {{extraControl.hint}}
                          </small>
                        </mat-error>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Cancelar</button>
                <button type="submit" class="btn btn-primary" *ngIf="configuration" data-bs-dismiss="modal" (click)="onSave()">Guardar cambios</button>
                <button type="submit" class="btn btn-primary" *ngIf="!configuration && configurationForm.valid" data-bs-dismiss="modal" (click)="onSave()">Crear configuración</button>
                <button type="submit" class="btn btn-primary" *ngIf="!configuration && !configurationForm.valid" (click)="onSave()">Crear configuración</button>
            </div>
        </div>
    </div>
</div>