<div class="row ps-2 pe-2 complete-height" *ngIf="!isLoading">
    <div class="col-2 collections p-0">
        <app-collection-list [workspaceId]="workspaceId"></app-collection-list>
    </div>
    <div class="col-7" *ngIf="!isLoading">
        <app-datafile-edit *ngIf="edit" [(edit)]="edit" [(datafile)]="datafile" [datafileId]="datafileId" [workspaceId]="workspaceId"></app-datafile-edit>

        <div class="container" *ngIf="!isDeleting">
            <div class="row mt-4" *ngIf="!edit">

                <div class="col-10">
                    <h2>{{ datafile.title }} (from <a routerLink="/workspace/{{workspaceId}}">
                      {{workspace.title}}
                    </a>)</h2>
                    <h3>{{ datafile.description }}</h3>

                </div>
                <div class="col-2 d-flex justify-content-end">
                    <div class="me-1">
                        <button class="btn btn-outline-light btn-sm" type="button" (click)="onEdit()">
                          <i class="fas fa-pen"></i>
                        </button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-outline-light btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item danger" *ngIf="workspace.owner==user.id || user.role=='ADMIN'" (click)="onDelete()">Eliminar Fichero</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-1" *ngIf="!edit">
                <div class="col">
                    <p>Delimitador: {{datafile.delimiter}}</p>
                    <p>Límite de errores: {{datafile.errLimit}}</p>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-2 pe-0">
                    <h2 class="mb-0">Contenido</h2>
                </div>
                <div class="col-10 ps-0" *ngIf="!content">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-2 d-flex justify-content-end p-0">
                                <div *ngIf="isUploading">
                                    <button class="btn btn-outline-secondary btn-sm uploading" type="button" disabled>
                                        Subiendo <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <form [formGroup]="fileForm">
                                    <input type="file" (change)="onFilePicked($event)" formControlName="contentPath" class="form-control form-control-sm" name="uploaded_file">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 d-flex justify-content-end ps-0" *ngIf="content">
                    <div class="me-1" *ngIf="isUploading">
                        <button class="btn btn-outline-secondary btn-sm uploading" type="button" disabled>
                        Subiendo <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="me-1">
                        <form [formGroup]="fileForm">
                            <input type="file" (change)="onFilePicked($event)" formControlName="contentPath" class="form-control form-control-sm" name="uploaded_file">
                        </form>
                    </div>

                    <div class="me-1">
                        <button class="btn btn-outline-light btn-sm" type="button" *ngIf="content" (click)="onDownload()">
                          <i class="fas fa-download"></i>
                        </button>
                    </div>
                    <div class="me-1">
                        <button class="btn btn-outline-light btn-sm" type="button" (click)="onEditContent()" *ngIf="content">
                            <i class="fas fa-pen"></i>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-outline-light btn-sm" type="button" (click)="onDeleteFile()" *ngIf="content && !isDeletingFile">
                            <i class="fas fa-trash-alt danger"></i>
                        </button>
                        <button class="btn btn-outline-light btn-sm" type="button" disabled *ngIf="content && isDeletingFile">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-floating">
                    <form [formGroup]="fileContentForm">
                        <textarea formControlName="fileContent" class="form-control mt-2 pt-1" id="floatingTextarea2" style="height: 400px"></textarea>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div *ngIf="fileName">
                        Nombre del archivo: {{fileName}}
                    </div>
                </div>
                <div class="col-6 mt-2 d-flex justify-content-end">
                    <div>
                        <button class="btn btn-outline-primary btn-sm" type="submit" *ngIf="content && editContent && !isSaving" [disabled]="disabledContent" (click)="onSave()">
                            Guardar cambios
                        </button>
                        <button class="btn btn-outline-primary btn-sm" type="submit" *ngIf="content && editContent && isSaving" disabled>
                            Guardar cambios <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-error>
                    <small *ngIf="invalidExtension" class="text-danger">
                        Ingrese un archivo con el formato adecuado (.json o .yaml).
                    </small>
                </mat-error>
            </div>
        </div>
    </div>
    <div class="col-3" *ngIf="!isLoading">
        <div class="container ps-0">
            <app-esquema-list [datafile]="datafile" [workspaceId]="workspaceId" [esquemas]="esquemas" [infer]="infer"></app-esquema-list>
        </div>
        <div class="container ps-0">
            <app-configuration-list [datafileId]="datafileId" [workspaceId]="workspaceId" [configurations]="configurations"></app-configuration-list>
        </div>
        <div class="container ps-0">
            <app-test-list [datafileId]="datafileId" [workspaceId]="workspaceId" [tests]="tests" [esquemas]="esquemas" [configurations]="configurations"></app-test-list>
        </div>
    </div>
</div>