.complete-height {
    height: 100%;
}

.btn-outline-light {
    color: rgb(156, 156, 156) !important;
    border-color: #ced4da;
}

.btn-outline-light:hover {
    color: white !important;
    background-color: #ced4da !important;
    border-color: #ced4da;
}

.danger {
    color: #dc3845;
}

.collections {
    background-color: #f2f2f3;
}