<div class="container p-0" *ngIf="!isLoading">
    <div class="row mt-4 ps-4 pe-3">
        <div class="col-8">
            <h2 class="mb-2">Colecciones</h2>
        </div>
    </div>
    <div class="row mt-0">
        <mat-accordion>
            <div *ngFor="let collection of collections; let i=index;">
                <div class="row mt-2 ps-3 pe-2" *ngIf="editMode && collectionIndex===i">
                    <app-collection-create [(collectionIndex)]="collectionIndex" [(editMode)]="editMode" [editCollection]="collection"></app-collection-create>
                </div>
                <mat-expansion-panel hideToggle *ngIf="collectionIndex!==i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="pt-2">{{collection.title}}</div>
                        </mat-panel-title>

                        <button class="btn btn-outline-secondary btn-sm" (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onUpdateCollection(i)">Editar</button>
                            <button mat-menu-item class="danger" (click)="onDeleteCollection(collection.id)">Eliminar</button>
                        </mat-menu>

                    </mat-expansion-panel-header>
                    <div class="datafileRow" *ngFor="let datafile of collection.datafiles" (click)="onReload(datafile._id)">
                        {{datafile.title}}
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
        <ul class="list-group" *ngFor="let datafile of orphanedDatafiles" style="cursor: pointer;">
            <li class="list-group-item pt-2 pb-2 ps-5 pe-2" (click)="onReload(datafile.id)">{{datafile.title}}</li>
        </ul>

    </div>
    <div class="row mt-2 ps-4 pe-3">
        <app-collection-create [(close)]="close" *ngIf="!close"></app-collection-create>
    </div>
    <div class="row mt-2 ps-4 pe-3">
        <div class="col">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary btn-sm" type="button" [disabled]="" (click)="onAddCollection()">
              <i class="fas fa-plus"></i> Añadir Colección
              </button>
            </div>
        </div>
    </div>
    <div class="row mt-2 ps-4 pe-3">
        <div class="col">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary btn-sm" routerLink="/workspace/{{workspaceId}}/runner">Ejecutar Pruebas</button>
            </div>
        </div>
    </div>
</div>