mat-form-field,
textarea {
    width: 100%;
}

mat-card {
    display: block;
    margin-top: 1rem;
}

input[type="file"] {
    visibility: hidden;
}

.add-file {
    color: grey;
}

.my-custom-scrollbar {
    height: 60%;
    overflow: auto;
}

.sidenav {
    background-color: #f2f2f3;
}

.sidenav h2 {
    /* padding: 20px 0px 5px 20px;
    margin: 0px; */
    color: black;
}

.sidenav h4 {
    /* margin: 0px; */
    color: black;
}

.sidenav div {
    background-color: #f2f2f3 !important;
}

.sidenav div:hover {
    background-color: #e7e7e7 !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.user-photo img {
    width: 40px;
    height: 40px;
}

.members {
    background-color: #f2f2f3;
}

.collections {
    background-color: #f2f2f3;
}

.btn-outline-light {
    color: rgb(156, 156, 156) !important;
}

.danger {
    color: #dc3845;
}

.complete-height {
    height: 100%;
}

.add-file {
    color: #6c757d;
    border-color: #6c757d;
}

.add-file:hover {
    color: #6c757d;
    background-color: #cccccc;
    border-color: #cccccc;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-expansion-panel-spacing {
    margin: 0px !important;
}

.mat-expansion-panel-header {
    background-color: #f2f2f3 !important;
}

.mat-expansion-panel-header:hover {
    background-color: #dbdbdb !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: 40px !important;
}

.mat-expansion-panel-header {
    height: 40px !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

.datafileRow {
    padding: 0.5rem 1rem 0.5rem 2.3rem;
    cursor: pointer
}

.btn-outline-secondary {
    color: #6c757d !important;
    border: none !important;
}

.btn-outline-secondary:hover {
    color: #6c757d !important;
    background-color: #cccccc !important;
}