<div class="row mt-4 ps-4 pe-3">
    <div class="col-8">
        <h2 class="mb-2">Collections</h2>
    </div>
</div>
<div class="row mt-0">
    <div class="accordion accordion-flush pb-5" id="accordionFlushExample">
        <div *ngFor="let collection of collections; let i=index;">
            <div class="row mt-2 ps-3 pe-2" *ngIf="editMode && collectionIndex===i">
                <app-collection-create [(collectionIndex)]="collectionIndex" [(editMode)]="editMode" [editCollection]="collection"></app-collection-create>
            </div>
            <div class="accordion-item" *ngIf="collectionIndex!==i">
                <h4 class="row accordion-header m-0 pt-1 pb-1" id="flush-headingOne">
                    <div class="col-10 ps-4 pe-2 pt-1 collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="false" [aria-controls]="collection.name">
                        {{collection.title}}
                    </div>
                    <div class="col-2 d-flex justify-content-end">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary btn-sm expand-files" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-ellipsis-h "></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" (click)="onUpdateCollection(i)">Editar</a></li>
                                <li><a class="dropdown-item danger" (click)="onDeleteCollection(collection.id)">Eliminar</a></li>
                            </ul>
                        </div>
                    </div>
                </h4>
                <div [attr.id]="'collapse'+i" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" *ngFor="let datafile of collection.datafiles">
                    <div class="accordion-body pt-2 pb-2 ps-5 pe-2" routerLink="/workspace/{{workspaceId}}/datafile/{{datafile._id}}">{{datafile.title}}</div>
                </div>
            </div>
        </div>
        <div class="accordion-collapse collapse show linebreak pt-2 mt-2" *ngFor="let datafile of orphanedDatafiles">
            <div class="accordion-body pt-2 pb-2 ps-5 pe-2" routerLink="/workspace/{{workspaceId}}/datafile/{{datafile.id}}">{{datafile.title}}</div>
        </div>
    </div>
</div>
<div class="row mt-2 ps-4 pe-3">
    <app-collection-create [(close)]="close" *ngIf="!close"></app-collection-create>
</div>
<div class="row mt-2 ps-4 pe-3">
    <div class="col">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary btn-sm" type="button" [disabled]="" (click)="onAddCollection()">
              <i class="fas fa-plus"></i> Añadir Colección
              </button>
        </div>
    </div>
</div>