.border-header {
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-radius: 4px 4px 0 0;
    background-color: #e9ecef;
}

.border-content {
    border-radius: 0 0 4px 4px;
    border: 1px solid #ced4da;
}
